<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>
)">
  <%= link_to new_plant_plant_tag_path(plant) do %>
  <i class="fa-solid fa-plus plus-card"></i>
  <% end %>
  <%= plant.name %>
  <div class="card-tags">
    <% plant.tags.each do |tag| %>
    <span><%= tag.name %></span>
    <% end %>
  </div>
  <%= link_to plant_path(plant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="fa-solid fa-x icon-card"></i>
  <% end %>
</div>
